<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://js.zohostatic.com/creator/widgets/version/1.0/widgetsdk-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="style.css">
 
   <!-- FONTAWESOME -->
   <link
   rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
 />
 
<!------ Include the above in your HEAD tag ---------->
<!-- Filiter div start -->
<!-- <div class="filite_header"><h3>filter</h3></div> -->
<div class="full_filter_div">
 
  <div class="carer">
    <label class="cr" for="carer_sel">Carers :</label>
    <select name="Carers" id="dropdownname_cr">
      <option value="">Select Carer</option>
    </select>
  </div>
  <div class="carer">
    <label class="cr" for="Clients">Clients :</label>
    <select name="Carers" id="dropdownname_cl">
      <option value="0" selected disabled>Select Client</option>
    </select>
  </div>
  <div class="btns_f">
        <button class="flt_btn" type="button"><img class="img_flt" src="./img/filter-removebg-preview.png" alt=""></button>
        <button class="flt_btn1 resetfilter" type="button"><img class="img_flt" src="./img/undo.png" alt=""></button>
  </div>
</div>

<!-- Filiter div end -->
<!-- Popup div Start -->
<div class="overlay" >
<div id="popup">
  <div class="image_edit">
    <div class="edit_icon"></div>
  </div>
<div class="shift_popup_header">
  <div class="shift_Ed"><h3>Edit Shift</h3></div>
  <div class="close_div"><a class="close" href="#">&times;</a></div>
</div>
<div>
  <div class="client">
    <label for="Clients">Clients :</label>
      <select name="Clients" id="dropdownname_cl_popup">
        <option value="">Select Client</option>
      </select>
    </div>
<div class="carer">
  <label for="carer_sel">Carers :</label>
  <select name="Carers" id="dropdownname_cr_popup">
    <option value="">Select Carer</option>
  </select>
</div>
</div>
<div class="div_cont">
  <label for="employee-shifts-start">Shift start</label>
<input  placeholder="dd-mm-yyyy" id="st_date_emp" type="date" value="" /><br>
<label for="employee-shifts-end">Shift end</label>
<input  placeholder="dd-mm-yyyy"type="date" id="ed_date_emp" value="" />
</div>
<div class="sht_div">
  <label for="shift_sel">Shfit Name</label>
  <select name="shfit" id="dropdownname_sht">
    <option value=""></option>
  </select>
</div>
<div>
  <label for="recid">Shift Assign ID</label>
  <input id="recid" type="text">
</div>
<div>
  <label for="Emp_recid">Employee Shift ID</label>
  <input id="Emp_recid" type="text">
</div>
<div class="btn_sve_cal">
  <div class="shift_ok">
    <button type="button" class="btn btn-success btn-sve">Save</button>
  </div>
  <div class="shift_delete_div">
    <button type="button" class="btn btn-danger del_btn">Delete</button>
  </div>
</div>
</div>
</div>
<!-- Popup div End -->
<!-- Main for the Calender Start -->
<div class="container theme-showcase">
<div id="holder" class="row" ></div>
</div>
<!-- Main for the Calender End--> 
<script type="text/tmpl" id="tmpl">
  {{
  var date = date || new Date(),
      month = date.getMonth(),
      year = date.getFullYear(),
      first = new Date(year, month, 1),
      last = new Date(year, month + 1, 0),
      startingDay = first.getDay(),
      thedate = new Date(year, month, 1 - startingDay),
      dayclass = lastmonthcss,
      today = new Date(),
      i, j;
  if (mode === 'week') {
    thedate = new Date(date);
    thedate.setDate(date.getDate() - date.getDay());
    first = new Date(thedate);
    last = new Date(thedate);
    last.setDate(last.getDate()+6);
  } else if (mode === 'day') {
    thedate = new Date(date);
    first = new Date(thedate);
    last = new Date(thedate);
    last.setDate(thedate.getDate() + 1);
  }
 
  }}
  <table class="calendar-table table table-condensed table-tight table-border">
    <thead class="top-table">
      <tr>
        <td colspan="7" style="text-align: center">
          <table style="white-space: nowrap; width: 100%">
            <tr>
              <td>
                <span class="btn-group btn-group-lg year-deatilsview_top">
                  {{ if (mode !== 'day') { }}
                    {{ if (mode === 'month') { }}<button class="js-cal-option btn btn-link" data-mode="year">{{: months[month] }}</button>{{ } }}
                    {{ if (mode ==='week') { }}
                      <button class="btn btn-link disabled month-view">{{: months[first.getMonth()] }} {{: first.getDate() }} - {{: months[last.getMonth()] }} {{: last.getDate() }}</button>
                    {{ } }}
                    <button class="js-cal-years btn btn-link year-view">{{:year}}</button>
                  {{ } else { }}
                    <button class="btn btn-link disabled">{{: date.toDateString() }}</button>
                  {{ } }}
                </span>
              </td>
              <td style="text-align: right">
                <span class="btn-group btn-week">
                  <button class="js-cal-option btn btn-default {{: mode==='week'? 'active':'' }}" data-mode="week"></button>
                </span>
              </td>
              <td style="text-align: right;">
                <div class="btns">
                <span class="btn-group">
                  <button class="js-cal-prev btn btn-default btn-prev"><i class="fas fa-chevron-left"></i></button>
                </span>
                <button class="js-cal-option today-btnn btn btn-default {{: first.toDateInt() <= today.toDateInt() && today.toDateInt() <= last.toDateInt() ? 'hide':'' }}" data-date='{{: today.toISOString()}}' data-mode="week"><i class="fas fa-calendar-day"></i></button>
                <span class="btn-group">
                  <button class="js-cal-next btn btn-default btn-next"><i class="fas fa-chevron-right"></i></button>
                </span>
              </div>
              </td>
            </tr>
          </table>
         
        </td>
      </tr>
    </thead>
    {{ if (mode ==='year') {
      month = 0;
    }}
    <tbody>
      {{ for (j = 0; j < 3; j++) { }}
      <tr>
        {{ for (i = 0; i < 4; i++) { }}
        <td class="calendar-month month-{{:month}} js-cal-option" data-date="{{: new Date(year, month, 1).toISOString() }}" data-mode="month">
          {{: months[month] }}
          {{ month++;}}
        </td>
        {{ } }}
      </tr>
      {{ } }}
    </tbody>
    {{ } }}
    {{ if (mode ==='month' || mode ==='week') { }}
    <thead class="bottom-table">
      <tr class="c-weeks">
        {{ for (i = 0; i < 8; i++) { }}
          <th class="c-name {{: days[i] }}">
            {{: days[i] }}
          </th>
        {{ } }}
      </tr>
  
    </thead>
    <tbody class="bottom-table_2">
      {{ for (j = 0; j < 6 && (j < 1 || mode === 'month'); j++) { }}
      <tr id="emp_tr">
        {{ for (i = 0; i < 7; i++) { }}
        {{ if (thedate > last) { dayclass = nextmonthcss; } else if (thedate >= first) { dayclass = thismonthcss; } }}
        <td class="calendar-day {{: dayclass }} {{: thedate.toDateCssClass() }} {{: date.toDateCssClass() === thedate.toDateCssClass() ? 'selected':'' }} {{: daycss[i] }}" data-date="{{: moment(thedate).format("DD-MMM-YYYY") }}">
          <div class="date">{{: thedate.getDate() }}</div>
          {{ thedate.setDate(thedate.getDate() + 1);}}
        </td>
        {{ } }}
      </tr>
      {{ } }}
    </tbody>
    {{ } }}
    {{ if (mode ==='day') { }}
    <tbody>
      <tr>
        <td colspan="7">
          <table class="table table-striped table-condensed table-tight-vert" >
            <thead>
              <tr>
                <th> </th>
                <th style="text-align: center; width: 100%">{{: days[date.getDay()] }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="timetitle" >All Day</th>
                <td class="{{: date.toDateCssClass() }}">  </td>
              </tr>
              <tr>
                <th class="timetitle" >Before 6 AM</th>
                <td class="time-0-0"> </td>
              </tr>
              {{for (i = 6; i < 22; i++) { }}
              <tr>
                <th class="timetitle" >{{: i <= 12 ? i : i - 12 }} {{: i < 12 ? "AM" : "PM"}}</th>
                <td class="time-{{: i}}-0"> </td>
              </tr>
              <tr>
                <th class="timetitle" >{{: i <= 12 ? i : i - 12 }}:30 {{: i < 12 ? "AM" : "PM"}}</th>
                <td class="time-{{: i}}-30"> </td>
              </tr>
              {{ } }}
              <tr>
                <th class="timetitle" >After 10 PM</th>
                <td class="time-22-0"> </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
    {{ } }}
  </table>
</script>
<script src="index.js"></script>
<script src="page.js"></script>
<script src="submit.js"></script>
<script src="deleteemp.js"></script>
<script src="update.js"></script>
<!-- <script src="shiftfilter.js"></script> -->
<script src="createlnit.js"></script>
<script src="external_func.js"></script>
<script src="zoho_api.js"></script>
</body>
<script>
  var Employee_Shift_List=[];
  var CarerDataList=[];
</script>
</html>
 